@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0%;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-style: normal;
}
header{
    min-height: 10vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #fff;
}

main{
    background-color: #424769;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px;
}

.form-ctn{
    /* background-color: #fff; */
    height: 30vh;
}

input{
    border: none;
    padding: 1rem;
    border-radius: 10px;
    background: #e8e8e8;
    transition: 0.3s;
    width: 20vw;
    margin: 10px 10px;
}
.addNote-btn{
    color: #fff;
    background-color: green;
    border: none;
}
.checkbox-ctn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    
}
li{
    list-style: none;
}
spam{
    color: #fff;
    font-weight: 900;
}
.ul-ctn{
    min-height: 50vh;
}
ul{
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
}
p{
    color: black;
    padding: 15px 15px;
    margin: 5px 5px;
    border: none;
    background-color: #fff;
    width: 10vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.btn-delete{
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 4px 4px;
    text-align: center;
    border: 1px solid #cc0000;
    background-color: #e50000;
    overflow: hidden;
}


footer{
    background-color: #7077A1;
    min-height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    appearance: none;
    background-color: #bbb;
    transition: all .3s;
   }
   
   .checkbox::before {
    content: '';
    position: absolute;
    border: solid #fff;
    display: block;
    width: .3em;
    height: .6em;
    border-width: 0 .2em .2em 0;
    z-index: 1;
    opacity: 0;
    right: calc(50% - .3em);
    top: calc(50% - .6em);
    transform: rotate(0deg);
    transition: all .3s;
    transform-origin: center center;
   }
   
   .checkbox:checked {
    animation: a .3s ease-in forwards;
    background-color: rgb(120, 190, 120);
   }
   
   .checkbox:checked::before {
    opacity: 1;
    transform: rotate(405deg);
   }
   
